
<hr>
<div class="blokOne">
    <div class="imgDiv">
    </div>  
<h3 class="titleBookOne" >{{genres.name}}</h3>
<ul>
{{#each genreOne}}
<li>
<a href="/genres/{{_id}}">{{genres}}</a>
</li>
</ul>
{{/each}}



</div>
<hr>